In [40]:
#Python program to scrape website
#and save quotes from website
import requests
from bs4 import BeautifulSoup
import csv
from tqdm import tqdm
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains
import time

browser = webdriver.Chrome('/Users/Xcalibre/chrome_driver/chromedriver')

In [41]:
import numpy as np
import pandas as pd

In [42]:
def login():
    email = 'teq00525@zwoho.com'
    passwd = 'qwerty'
    browser.get('https://www.screener.in/login/')
    browser.find_element_by_xpath('//*[@id="id_username"]').send_keys(email)
    time.sleep(2)
    browser.find_element_by_xpath('//*[@id="id_password"]').send_keys(passwd)
    time.sleep(2)
    browser.find_element_by_xpath('/html/body/main/div/div/div[2]/form/button').click()

In [43]:
# returns the number of categories 'domains'.
def number_of_categories():
    URL = "https://www.screener.in/explore/"
    r = requests.get(URL)
    soup = BeautifulSoup(r.content, 'html5lib')
    labels = {}
    table = soup.find('div', attrs = {'class':'flex-row flex-gap-12'})
    categories = table.findAll('a', attrs = {'class':'bordered radius-6 padding-4-12 font-size-14 ink-700'})
    for c in categories:
        labels[c.text] = 'https://www.screener.in/user/columns/?next=' + c['href']
    return labels

In [44]:
def tag_list():
    required_tags = ['OPM', 'YOY Quarterly sales growth', 'YOY Quarterly profit growth', 
                     'Return on capital employed', 'Return on equity']

    browser.find_element_by_xpath('//*[@id="manage-reset"]').click()
    time.sleep(3)
    page = browser.page_source
    soup = BeautifulSoup(page, 'html5lib')
    table = soup.find('ul', attrs = {'class':'items flex-row'})
    categories = table.findAll('li', attrs = {'class':'draggable-row'})
    current_tags = [c['data-name'] for c in categories]

    tags_to_add = list(set(required_tags) - set(current_tags))
    tags_to_remove = list(set(current_tags) - set(required_tags))
    process_tags = tags_to_add + tags_to_remove
    process_tags.remove('Net Profit latest quarter')
    return process_tags

In [45]:
def choose_tags(process_tags):
#     browser.find_element_by_xpath('//*[@id="manage-menu"]/li[4]/button').click()
    for tag in process_tags[:2]:
        time.sleep(1)
        xpath = f'//*[@value="{tag}"]'
#         print(xpath)
        browser.find_element_by_xpath(xpath).click()
    time.sleep(1)
    browser.refresh()
    time.sleep(3)
    clk_btn = browser.find_element_by_xpath('/html/body/main/div/div[2]/form/div[1]/div/button')
    browser.execute_script("arguments[0].click();", clk_btn)

In [46]:
def crawl_table(url):
#     url = 'https://www.screener.in/company/compare/00000002/'
    browser.get(url)
    page = browser.page_source
    soup = BeautifulSoup(page, 'html5lib')
    table = soup.find('table', attrs = {'class':'data-table text-nowrap striped'})
    rows = table.findAll('tr')
    col_names = [c.text.strip().split('\n')[0] for c in rows[0].findAll('th')]
    data = []
    for r in rows[1:]:
        row_data = [d.text.strip() for d in r.findAll('td')]
        data.append(row_data)

    df = pd.DataFrame(data, columns=col_names)
    df.set_index('S.No.')

    return df

In [47]:
login()
domains = number_of_categories()

In [48]:
# for i in tqdm(range(len(domains))):
for i in tqdm(range(4,6)):
    domain_name = list(domains.keys())[i].replace('/', '_or_')
    url = list(domains.values())[i]
    try:
        browser.get(url)
        process_tags = tag_list()
        print(process_tags)
        choose_tags(process_tags)
        time.sleep(2)
        page = browser.page_source
        soup = BeautifulSoup(page, 'html5lib')
        total_pages = int(soup.find('div', attrs = {'class':'flex-row flex-gap-8 flex-space-between flex-align-center'}).find('div', 
                    attrs = {'class':'sub'}).text.replace('\n','').strip().split(' ')[-1])
        dataframes = []
        for p in range(total_pages):
            current_url = browser.current_url + f'?limit=50&page={p+1}'
            dataframes.append(crawl_table(current_url))
        dataframes = pd.concat(dataframes).dropna()
        dataframes.to_csv(f'{domain_name}.csv', index=False)
    except:
        print(f'{domain_name} -- {url}')

  0%|          | 0/2 [00:00<?, ?it/s]

['Return on equity', 'OPM', 'Price to Earning', 'Market Capitalization', 'Dividend yield', 'Sales latest quarter']

 50%|█████     | 1/2 [00:15<00:15, 15.25s/it]

['Return on equity', 'OPM', 'Price to Earning', 'Market Capitalization', 'Dividend yield', 'Sales latest quarter']

100%|██████████| 2/2 [00:30<00:00, 15.04s/it]

In [49]:
# df = pd.read_csv('Chemicals.csv')
dataframes

   S.No.              Name      CMP    NP Qtr   ROCE    Mar Cap
0     1.         HDFC Bank  1486.35   8433.78   6.76  820174.54
1     2.        ICICI Bank   635.70   4886.16   6.04  440128.10
2     3.    St Bk of India   429.60   6125.52   4.53  383401.31
3     4.   Kotak Mah. Bank  1794.35   2589.32   6.65  355709.79
4     5.         Axis Bank   738.45   2941.41   5.06  226336.85
5     6.     IndusInd Bank  1015.10    926.22   6.54   78547.94
6     7.      Bandhan Bank   319.40    103.03   8.92   51443.03
7     8.  Punjab Natl.Bank    42.05    700.80   6.52   46301.32
8     9.    Bank of Baroda    84.45   -740.79   4.33   43672.15
9    10.         IDBI Bank    39.00    629.05   4.73   41934.37
10   11.             I O B    20.70    212.87   1.53   39127.99
11   12.   IDFC First Bank    60.05    127.81   6.57   37242.21
12   13.          Yes Bank    14.40  -3790.92   3.26   36079.06
13   14.  AU Small Finance  1046.05    168.98   9.90   32722.83
14   15.     Bank of India    80.40     83.15   4.62   26346.46
16   16.       Canara Bank   155.90   1195.78   6.92   25672.65
17   17.    Union Bank (I)    35.95   1269.18   8.62   24570.92
18   18.      Central Bank    21.45  -1441.74   3.87   18620.62
19   19.      Bank of Maha    26.55    168.98   4.25   17417.22
20   20.      Federal Bank    86.05    521.24   5.93   17178.02
21   21.          UCO Bank    13.65     80.03   3.90   16319.88
22   22.       Indian Bank   140.55   1725.36   8.68   15873.25
23   23.          RBL Bank   218.25     75.34   5.99   13057.35
24   24.   City Union Bank   169.20    111.19   6.22   12500.87
25   25.  Pun. & Sind Bank    20.30    160.79   1.33    8226.92
26   26.  Equitas Sma. Fin    60.55    112.87  10.22    6916.43
27   27.          CSB Bank   335.00     42.89   6.60    5811.78
28   28.     Ujjivan Small    32.80    136.49   6.08    5668.87
29   29.  Karur Vysya Bank    54.00    104.37   5.45    4316.28
30   30.          DCB Bank   111.25     77.91   7.06    3455.14
32   31.    Suryoday Small   229.70    -43.01           2437.83
33   32.    South Ind.Bank    10.70      6.79   5.23    2239.23
34   33.        J & K Bank    29.20     66.44   3.51    2083.28
35   34.    Karnataka Bank    63.35     31.36   5.70    1969.36
36   35.    Dhanlaxmi Bank    14.90      5.28   5.41     376.99

In [22]:
domains

{'Agro Chemicals': 'https://www.screener.in/user/columns/?next=/company/compare/00000001/',
 'Air Transport Service': 'https://www.screener.in/user/columns/?next=/company/compare/00000002/',
 'Alcoholic Beverages': 'https://www.screener.in/user/columns/?next=/company/compare/00000003/',
 'Auto Ancillaries': 'https://www.screener.in/user/columns/?next=/company/compare/00000004/',
 'Automobile': 'https://www.screener.in/user/columns/?next=/company/compare/00000005/',
 'Banks': 'https://www.screener.in/user/columns/?next=/company/compare/00000006/',
 'Bearings': 'https://www.screener.in/user/columns/?next=/company/compare/00000066/',
 'Cables': 'https://www.screener.in/user/columns/?next=/company/compare/00000007/',
 'Capital Goods - Electrical Equipment': 'https://www.screener.in/user/columns/?next=/company/compare/00000008/',
 'Capital Goods-Non Electrical Equipment': 'https://www.screener.in/user/columns/?next=/company/compare/00000009/',
 'Castings, Forgings & Fastners': 'https://www.screener.in/user/columns/?next=/company/compare/00000010/',
 'Cement': 'https://www.screener.in/user/columns/?next=/company/compare/00000011/',
 'Cement - Products': 'https://www.screener.in/user/columns/?next=/company/compare/00000012/',
 'Ceramic Products': 'https://www.screener.in/user/columns/?next=/company/compare/00000013/',
 'Chemicals': 'https://www.screener.in/user/columns/?next=/company/compare/00000014/',
 'Computer Education': 'https://www.screener.in/user/columns/?next=/company/compare/00000015/',
 'Construction': 'https://www.screener.in/user/columns/?next=/company/compare/00000016/',
 'Consumer Durables': 'https://www.screener.in/user/columns/?next=/company/compare/00000017/',
 'Credit Rating Agencies': 'https://www.screener.in/user/columns/?next=/company/compare/00000018/',
 'Crude Oil & Natural Gas': 'https://www.screener.in/user/columns/?next=/company/compare/00000019/',
 'Diamond, Gems and Jewellery': 'https://www.screener.in/user/columns/?next=/company/compare/00000020/',
 'Diversified': 'https://www.screener.in/user/columns/?next=/company/compare/00000021/',
 'Dry cells': 'https://www.screener.in/user/columns/?next=/company/compare/00000022/',
 'E-Commerce/App based Aggregator': 'https://www.screener.in/user/columns/?next=/company/compare/00000080/',
 'Edible Oil': 'https://www.screener.in/user/columns/?next=/company/compare/00000023/',
 'Education': 'https://www.screener.in/user/columns/?next=/company/compare/00000073/',
 'Electronics': 'https://www.screener.in/user/columns/?next=/company/compare/00000076/',
 'Engineering': 'https://www.screener.in/user/columns/?next=/company/compare/00000072/',
 'Entertainment': 'https://www.screener.in/user/columns/?next=/company/compare/00000024/',
 'ETF': 'https://www.screener.in/user/columns/?next=/company/compare/00000069/',
 'Ferro Alloys': 'https://www.screener.in/user/columns/?next=/company/compare/00000071/',
 'Fertilizers': 'https://www.screener.in/user/columns/?next=/company/compare/00000025/',
 'Finance': 'https://www.screener.in/user/columns/?next=/company/compare/00000026/',
 'FMCG': 'https://www.screener.in/user/columns/?next=/company/compare/00000027/',
 'Gas Distribution': 'https://www.screener.in/user/columns/?next=/company/compare/00000028/',
 'Glass & Glass Products': 'https://www.screener.in/user/columns/?next=/company/compare/00000029/',
 'Healthcare': 'https://www.screener.in/user/columns/?next=/company/compare/00000030/',
 'Hotels & Restaurants': 'https://www.screener.in/user/columns/?next=/company/compare/00000031/',
 'Infrastructure Developers & Operators': 'https://www.screener.in/user/columns/?next=/company/compare/00000032/',
 'Infrastructure Investment Trusts': 'https://www.screener.in/user/columns/?next=/company/compare/00000082/',
 'Insurance': 'https://www.screener.in/user/columns/?next=/company/compare/00000067/',
 'IT - Hardware': 'https://www.screener.in/user/columns/?next=/company/compare/00000033/',
 'IT - Software': 'https://www.screener.in/user/columns/?next=/company/compare/00000034/',
 'Leather': 'https://www.screener.in/user/columns/?next=/company/compare/00000035/',
 'Logistics': 'https://www.screener.in/user/columns/?next=/company/compare/00000036/',
 'Marine Port & Services': 'https://www.screener.in/user/columns/?next=/company/compare/00000083/',
 'Media - Print/Television/Radio': 'https://www.screener.in/user/columns/?next=/company/compare/00000037/',
 'Mining & Mineral products': 'https://www.screener.in/user/columns/?next=/company/compare/00000038/',
 'Miscellaneous': 'https://www.screener.in/user/columns/?next=/company/compare/00000039/',
 'Non Ferrous Metals': 'https://www.screener.in/user/columns/?next=/company/compare/00000040/',
 'Oil Drill/Allied': 'https://www.screener.in/user/columns/?next=/company/compare/00000041/',
 'Online Media': 'https://www.screener.in/user/columns/?next=/company/compare/00000075/',
 'Packaging': 'https://www.screener.in/user/columns/?next=/company/compare/00000042/',
 'Paints/Varnish': 'https://www.screener.in/user/columns/?next=/company/compare/00000043/',
 'Paper': 'https://www.screener.in/user/columns/?next=/company/compare/00000044/',
 'Petrochemicals': 'https://www.screener.in/user/columns/?next=/company/compare/00000045/',
 'Pharmaceuticals': 'https://www.screener.in/user/columns/?next=/company/compare/00000046/',
 'Plantation & Plantation Products': 'https://www.screener.in/user/columns/?next=/company/compare/00000047/',
 'Plastic products': 'https://www.screener.in/user/columns/?next=/company/compare/00000048/',
 'Power Generation & Distribution': 'https://www.screener.in/user/columns/?next=/company/compare/00000049/',
 'Power Infrastructure': 'https://www.screener.in/user/columns/?next=/company/compare/00000079/',
 'Printing & Stationery': 'https://www.screener.in/user/columns/?next=/company/compare/00000074/',
 'Quick Service Restaurant': 'https://www.screener.in/user/columns/?next=/company/compare/00000084/',
 'Railways': 'https://www.screener.in/user/columns/?next=/company/compare/00000077/',
 'Readymade Garments/ Apparells': 'https://www.screener.in/user/columns/?next=/company/compare/00000050/',
 'Real Estate Investment Trusts': 'https://www.screener.in/user/columns/?next=/company/compare/00000081/',
 'Realty': 'https://www.screener.in/user/columns/?next=/company/compare/00000051/',
 'Refineries': 'https://www.screener.in/user/columns/?next=/company/compare/00000052/',
 'Refractories': 'https://www.screener.in/user/columns/?next=/company/compare/00000053/',
 'Retail': 'https://www.screener.in/user/columns/?next=/company/compare/00000054/',
 'Sanitaryware': 'https://www.screener.in/user/columns/?next=/company/compare/00000070/',
 'Ship Building': 'https://www.screener.in/user/columns/?next=/company/compare/00000055/',
 'Shipping': 'https://www.screener.in/user/columns/?next=/company/compare/00000056/',
 'Steel': 'https://www.screener.in/user/columns/?next=/company/compare/00000057/',
 'Stock/ Commodity Brokers': 'https://www.screener.in/user/columns/?next=/company/compare/00000058/',
 'Sugar': 'https://www.screener.in/user/columns/?next=/company/compare/00000059/',
 'Telecom-Handsets/Mobile': 'https://www.screener.in/user/columns/?next=/company/compare/00000068/',
 'Telecomm Equipment & Infra Services': 'https://www.screener.in/user/columns/?next=/company/compare/00000060/',
 'Telecomm-Service': 'https://www.screener.in/user/columns/?next=/company/compare/00000061/',
 'Textiles': 'https://www.screener.in/user/columns/?next=/company/compare/00000062/',
 'Tobacco Products': 'https://www.screener.in/user/columns/?next=/company/compare/00000063/',
 'Trading': 'https://www.screener.in/user/columns/?next=/company/compare/00000064/',
 'Tyres': 'https://www.screener.in/user/columns/?next=/company/compare/00000065/'}

In [20]:
df = pd.read_csv('Banks.csv')

In [21]:
df

,S.No.,Name,CMP,NP Qtr,Qtr Profit Var,Qtr Sales Var,Mar Cap
0,1.0,HDFC Bank,1486.35,8433.78,15.85,2.55,820174.54
1,2.0,ICICI Bank,635.70,4886.16,290.48,2.57,440128.10
2,3.0,St Bk of India,429.60,6125.52,19.39,3.27,383401.31
3,4.0,Kotak Mah. Bank,1794.35,2589.32,-21.60,-5.72,355709.79
4,5.0,Axis Bank,738.45,2941.41,333.00,-4.02,226336.85
5,6.0,IndusInd Bank,1015.10,926.22,193.80,0.44,78547.94
6,7.0,Bandhan Bank,319.40,103.03,-80.08,5.42,51443.03
7,8.0,Punjab Natl.Bank,42.05,700.80,185.41,34.07,46301.32
8,9.0,Bank of Baroda,84.45,-740.79,-261.24,-8.88,43672.15
9,10.0,IDBI Bank,39.00,629.05,284.50,3.25,41934.37
10,11.0,I O B,20.70,212.87,103.50,-2.49,39127.99
11,12.0,IDFC First Bank,60.05,127.81,78.66,-2.43,37242.21
12,13.0,Yes Bank,14.40,-3790.92,-4.38,-23.57,36079.06
13,14.0,AU Small Finance,1046.05,168.98,38.15,9.20,32722.83
14,15.0,Bank of India,80.40,83.15,102.31,-11.05,26346.46
15,16.0,Canara Bank,155.90,1195.78,137.25,35.33,25672.65
16,17.0,Union Bank (I),35.95,1269.18,725.06,66.85,24570.92
17,18.0,Central Bank,21.45,-1441.74,14.19,-17.71,18620.62
18,19.0,Bank of Maha,26.55,168.98,214.21,10.38,17417.22
19,20.0,Federal Bank,86.05,521.24,58.41,-0.81,17178.02
20,21.0,UCO Bank,13.65,80.03,376.94,-4.71,16319.88
21,22.0,Indian Bank,140.55,1725.36,745.72,62.12,15873.25
22,23.0,RBL Bank,218.25,75.34,-34.12,-12.94,13057.35
23,24.0,City Union Bank,169.20,111.19,216.69,-6.27,12500.87
24,25.0,Pun. & Sind Bank,20.30,160.79,168.04,-15.42,8226.92
25,26.0,Equitas Sma. Fin,60.55,112.87,162.43,12.74,6916.43
26,27.0,CSB Bank,335.00,42.89,171.87,27.82,5811.78
27,28.0,Ujjivan Small,32.80,136.49,86.59,-16.22,5668.87
28,29.0,Karur Vysya Bank,54.00,104.37,24.70,-7.34,4316.28
29,30.0,DCB Bank,111.25,77.91,13.31,-7.17,3455.14
30,31.0,Suryoday Small,229.70,-43.01,-177.84,-25.39,2437.83
31,32.0,South Ind.Bank,10.70,6.79,104.73,-12.32,2239.23
32,33.0,J & K Bank,29.20,66.44,37.19,0.44,2083.28
33,34.0,Karnataka Bank,63.35,31.36,14.83,-13.53,1969.36
34,35.0,Dhanlaxmi Bank,14.90,5.28,103.08,-12.42,376.99